.Hero_container
{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.432), rgba(0, 0, 0, 0.73)), url('../pages/assets/Hero.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Hero_container > h1 
{
  color: #ffffff;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 55.54px;
  width: 850px;
  text-align: center;
}

.Hero_container > p 
{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  width: 850px;
}

.play_now_btn 
{
  position: relative;
}

.play_now_btn > p 
{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 19px;
  line-height: 28px;
}


@media screen and (max-width: 830px) {
  .Hero_container > h1 
  {
    font-size: 38px;
    width: 650px;
  }
  .Hero_container > p
  {
    font-size: 16px;
    width: 650px;
  }
}

@media screen and (max-width: 648px) {
  .Hero_container > h1 
  {
    font-size: 28px;
    width: 450px;
  }
  .Hero_container > p
  {
    font-size: 14px;
    width: 450px;
  }
}

@media screen and (max-width: 540px) {
  .Hero_container > h1 
  {
    font-size: 20px;
    width: 350px;
    line-height: 30px;
  }
  .Hero_container > p
  {
    font-size: 14px;
    width: 350px;
  }
}